body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.input_video {
  border: 1px solid #ccc;
  width: 640px; /* Adjust as needed */
  height: 360px; /* Adjust as needed */
  transform: scaleX(-1);
  display: none;
}

.output_canvas {
  border: 1px solid #ccc;
  width: 100%; /* Full width */
  max-width: 640px; /* Max width for larger screens */
  height: auto; /* Maintains aspect ratio */
  aspect-ratio: 16 / 9; /* Maintains 16:9 ratio */
  transform: scaleX(-1); /* Flip horizontally */
  display: block;
  margin: 0 auto; /* Center the canvas */
}

@media (max-width: 768px) {
  .output_canvas {
    max-width: 100%; /* Make it full width on smaller screens */
    height: auto; /* Auto-adjust height */
  }
}


.controls {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  gap: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #333;
}
